.button{
    border-color: #d20000;
    color: #d20000;
    font-family: Serif;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius:5px;
    margin: 0.5em;
}


.button2{
    background-color: #ffcc00;
    border-color: #d20000;
    color: #d20000;
    font-family: Serif;
    border-width: 1px;
    border-style: solid;
    border-radius:5px;
    margin: 0.5em;
}

.button3{
    border-color:  #ffcc00;
    color:  #ffcc00;
    font-family: Serif;
    font-weight: bold;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius:5px;
    margin: 0.5em;
}


.date{
    border: 1px solid #d20000;
    border-radius:5px;
    margin: 1.5em 5em 1.5em 5em;
    background-color: #ffcc00;
    color: white;
}

.date2{
    color: #efc900;
    background-color: white;
    font-weight: bold;
}

.frame{
    border-color: #d20000;
    border-width: 2px;
    border-style: solid;
    border-radius:5px;
    margin: 1.5em 5em 1.5em 5em;
}
.margin{
    margin: 10px 0px 10px 0px;
}
.margin2{
    margin: 10px 5px 10px 5px;
}

.applied{
    background-color: gold;
    border-color: gold;
}

.napplied{
    background-color: darkgray;
    border-color: darkgray;
}


.fixed{
    background-color: limegreen;
    border-color: limegreen;
}